
#topBanner {
  font-size: 24px;
  background-color: #1268bb;
  color: white;
  padding: 20px 0px;
}

#name {
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  padding-top: 7px;
}

#message {
  text-align: center;
  padding-top: 10px;
}

#scores {
  text-align: right;
}